body{
    background-color:#B0FFE1;
    font-family: 'Barrio', cursive;
    width:100%;
}
.navbar{
    border-bottom: black 2.5px solid;
}
.navbar a{
    color:white;
    font-size: 30px;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
.navbar .navbar-brand{
    color:white;
    font-size: 45px;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     2px 2px 2px #000;
}

input[type="text"], input[type="number"]{
    background: none;
    border: none;
    border-bottom: black solid 1.7px;
}
/*font-family: "montserrat";*/