<% include partials/header %>

<div class="Landingheader">
    <div class="content">
        <h1 class="title">Track My Cash</h1>
        <p>Keep track of the money you REALLY have.</p>
        <div>
            <a class="my-btn" href="/funds">Get Started</a>
        </div>
    </div>
</div>
<% include partials/header %>
